<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.stemacademy.akmeier.sievemobileapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".GlobalVars"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SieveDefault">
        <activity
            android:name=".HomePage"
            android:theme="@style/SieveDefault">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Settings" />
        <activity android:name=".AssignmentStart" />
        <activity android:name=".TaskCreate" />
        <activity android:name=".AssignmentDetails" />

        <receiver
            android:name=".Notificationjava"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".AlarmsIntentService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"></service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ff41e32865bb2ef60652c7e1fd1f71dcc971a315" />

        <activity android:name=".projectView"></activity>
    </application>

</manifest>